@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
}

:root {
  --bs-primary: #9BABCE;
  --bs-primary-rgb: 155, 171, 206;
  --bs-link-color: #fff;
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-hover-color: #fff;
  --bs-link-hover-color-rgb: 255, 255, 255;
}

dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: fit-content; 
  margin: auto;  
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-weight: 600;
}

#login, #register, #update {
  height: fit-content;
  min-width: 40%;
  background-color: #9BABCE;
  color: black;
}

.navbar {
  --bs-navbar-hover-color: #496989;
  --bs-navbar-brand-hover-color: #496989;
  --bs-navbar-active-color: #496989;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.dropdown-toggle::after {
  border: none;
}

.navbar-nav .nav-link,
.navbar-brand {
  font-weight: 500;
  color: #496989;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0px;
}

.btn-custom {
  background-color: #F9F07A;
  font-weight: 500;
}

.btn-custom:hover {
  background-color: rgb(255, 243, 82);
}

.btn-custom:active {
  background-color: rgb(255, 243, 82) !important;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-link:hover, .nav-link.active {
  font-weight:700;
  transition: transform 0.3s ease;
}

#chat-expand {
  width: 521px;
  height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#ruang {
  padding: 16px;
  overflow: overlay;
}

button#chat:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.chatPenerima {
  align-self: flex-start;
  background-color: #C5D7FF;
  text-wrap: wrap;
  word-wrap: break-word;
  max-width: 70%;
  margin: 4px 0px;
  padding: 16px;
  border-radius: 16px 16px 16px 0px;
}

.chatPengirim {
  align-self: flex-end;
  background-color: #A3C0FF;
  text-wrap: wrap;
  word-wrap: break-word;
  max-width: 70%;
  margin: 4px 0px;
  padding: 16px;
  border-radius: 16px 16px 0px 16px;
}

.waktu {
  align-self: flex-end; 
  justify-content: end; 
  font-size: x-small;
}

.form-control#pesan {
  border: none;
  border-radius: 0;
}

.form-control:focus#pesan {
  box-shadow: none;
}
